<ng-container [ngSwitch]="component.TAG">
  <svg:g
    slij-terminal
    *ngFor="let item of inputs(); index as i"
    attr.transform="rotate(180) translate(-15, {{ 15 - (i + 1) * 50 }})"
  />
  <svg:g slij-terminal transform="translate(90, 40)" />
  <svg:g slij-buffer *ngSwitchCase="SlComponentType.BufferGate" />
  <svg:g slij-not *ngSwitchCase="SlComponentType.NotGate" />
  <svg:g slij-or *ngSwitchCase="SlComponentType.OrGate" />
  <svg:g slij-nor *ngSwitchCase="SlComponentType.NorGate" />
  <svg:g slij-and *ngSwitchCase="SlComponentType.AndGate" />
  <svg:g slij-nand *ngSwitchCase="SlComponentType.NandGate" />
  <svg:g slij-xor *ngSwitchCase="SlComponentType.XorGate" />
  <svg:g slij-xnor *ngSwitchCase="SlComponentType.XnorGate" />
  <svg:g *ngSwitchDefault class="container">
    <text>no rendering for gate type {{ component.TAG }}</text>
  </svg:g>
</ng-container>
