<svg
  width="128"
  height="128"
  viewBox="-100 0 300 128"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <ng-container [ngSwitch]="component.TAG">
    <g
      slij-terminal
      *ngFor="let item of inputs(); index as i"
      attr.transform="rotate(180) translate(-10, {{ 15 - (i + 1) * 50 }})"
    />
    <g slij-terminal transform="translate(105, 40)" />
    <g slij-buffer *ngSwitchCase="SlComponentType.BufferGate" />
    <g slij-not *ngSwitchCase="SlComponentType.NotGate" />
    <g slij-or *ngSwitchCase="SlComponentType.OrGate" />
    <g slij-nor *ngSwitchCase="SlComponentType.NorGate" />
    <g slij-and *ngSwitchCase="SlComponentType.AndGate" />
    <g slij-nand *ngSwitchCase="SlComponentType.NandGate" />
    <g slij-xor *ngSwitchCase="SlComponentType.XorGate" />
    <g slij-xnor *ngSwitchCase="SlComponentType.XnorGate" />
    <g *ngSwitchDefault class="container">
      <text>no rendering for gate type {{ component.TAG }}</text>
    </g>
  </ng-container>
</svg>
