<input type="file" id="file" (change)="handleFileInput($event.target.files)" />
<ul>
  <li>Zoom: {{ viewportService.getZoomFactor() | async }}</li>
  <li>Offset: {{ viewportService.getOffset() | async | json }}</li>
  <li>Mouse Loc: {{ mouseloc | json }}</li>
</ul>
<ng-container *ngIf="data && data.COMPONENTS.length > 0">
  <svg>
    <g
      slij-component
      [component]="component"
      *ngFor="let component of data.COMPONENTS"
      cdkDrag
      (cdkDragEnded)="droppedComponent($event, component)"
      matTooltipShowDelay="1000"
    />
    <g slij-wire [startComponent]="data.COMPONENTS[0]" [endComponent]="data.COMPONENTS[1]" />
  </svg>
</ng-container>
