<ng-container [ngSwitch]="component.TAG">
  <slij-push-button *ngSwitchCase="SlComponentType.ToggleButton" [component]="component"></slij-push-button>
  <slij-push-button *ngSwitchCase="SlComponentType.PulseButton" [component]="component"></slij-push-button>
  <slij-gate *ngSwitchCase="SlComponentType.BufferGate" [component]="component"></slij-gate>
  <slij-gate *ngSwitchCase="SlComponentType.NotGate" [component]="component"></slij-gate>
  <slij-gate *ngSwitchCase="SlComponentType.OrGate" [component]="component"></slij-gate>
  <slij-gate *ngSwitchCase="SlComponentType.NorGate" [component]="component"></slij-gate>
  <slij-gate *ngSwitchCase="SlComponentType.AndGate" [component]="component"></slij-gate>
  <slij-gate *ngSwitchCase="SlComponentType.NandGate" [component]="component"></slij-gate>
  <slij-gate *ngSwitchCase="SlComponentType.XorGate" [component]="component"></slij-gate>
  <slij-gate *ngSwitchCase="SlComponentType.XnorGate" [component]="component"></slij-gate>
  <slij-integrated-circuit
    *ngSwitchCase="SlComponentType.IntegratedCircuit"
    [component]="component"
  ></slij-integrated-circuit>
  <div *ngSwitchDefault class="container"></div>
</ng-container>
